 html{color:#000;background:#FFF;} 
      body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form, 
      fieldset,input,textarea,p,blockquote,th,td { 
      margin:0; 
      padding:0; 
      }
      .mypage{
        width:100%;
      }
    .page1{
      background:url(/images/page1_01.jpg) no-repeat center;
      position: relative;
      height: 992px;
      }
    .btns{
      width:1200px;
      height: 81px;
      text-align: center;
      margin: 0 auto;
      padding-top: 800px;
    }
    .btns a{
      
      display: inline-block;
      height: 81px;
      width: 269px;
      color:white;
      background: url(/images/btn1.png) no-repeat;
      line-height: 80px;
      font-size: 20px;
      margin-left: 50px;
      margin-right: 50px;
      text-decoration: none;
      transition: all .5s; 
    }
    
    .btns a:hover{
      background: url(/images/btn2.png) no-repeat;
    }
    .page2{
      
      background: url(/images/page2_02.jpg) no-repeat center top;
      margin: 0 auto;
      height: 808px;
      width: 1920px;
      position: relative;
    }
    .video{
      position: relative;
    }
    .video a{
      display: block;
      width: 686px; 
      height: 386px;
      background: url(/images/sp.jpg) no-repeat;
      position: absolute;
      top:230px;
      left:350px;
    }
    .page2_content{
      position: absolute;
      width: 480px;
      height: 386px;
       top:230px;
      left:1080px;
      overflow: hidden;
    }
    .page2_content .title{
      font-size: 30px;
      color: white;
      margin-left: 10px;
    }
    .page2_content .place{
      color:white;
      padding-top: 30px;
    }
     .page2_content .time{
      color:white;
      padding-top: 10px;
    }
    .page2_content .line{
      
      background-color: #2a2b38;
      height: 1px;
      margin-top: 30px;
    }
    .page2_content_text{
      margin-top: 30px;
      height: 200px;
      
    }
     .page2_content_text img{
       margin-right: 10px;
     }
    .page2_content_text .link{
      display: block;
      height: 30px; 
      text-decoration: none;  
      color:#c6cfe5; 
      overflow: hidden;
    }
    .page2_content_text .link .link_time{
      color:#c6cfe5; 
      float: right;
    }
    .mytitle{
      height: 375px;
      width:122px;
      background: red;
      position: fixed;
      top:100px;
      right: 0;
    }
    .on{
      background: blue;
    }
    .erweima {
      width: 100px;
      height: 100px;
      margin: 0 auto;
    }
    .page3{
      background: url(/images/page3_03.jpg) center no-repeat;
      width: 1920px;
      height: 590px;
      margin: 0 auto;
    }
    .page4{
      width: 1920px;
      height: 688px;
      margin:  0 auto;
      background: url(/images/page4_04.jpg) center no-repeat;
    }
    .page5{
      height: 1404px;
      margin:  0 auto;
      background: url(/images/page5_05.jpg) center no-repeat;
    }
    .page6{
      height: 1174px;
      margin:  0 auto;
      background: url(/images/page6_06.jpg) center no-repeat;
    }
    .page7{
      height: 845px;
      margin:  0 auto;
      background: url(/images/page7_07.jpg) center no-repeat;
    }
    .page4{
     
      margin: 0 auto;
    }
    .xuanshou{
      position: relative;
      background: url(/images/xs-qds.jpg) no-repeat;
      display: inline-block;
      width: 282px;
      height: 362px;
      border: 4px solid black;
      margin-left: 30px;
      cursor: pointer;
    }
    .player{
      height: auto;
      width: auto;
      text-align: center;
      padding-top: 250px;
    }
    .xuanshou p{
      display:block;
      position: absolute;
      bottom: 0;
      left:0;
      right: 0;
      background: rgba(0, 0, 0, 0.5);
      text-align: center;
      color: white;
      font-size: 16px;
      line-height: 40px;
      
    }
    .page5{
       width: 1920px;
       position: relative;
    }
    .message{
     width: 1480px;
     margin: 0 auto;
     padding-top: 170px;
     height: auto;
    }
    .message_content{
      background: url(/images/blessing-item.png) no-repeat;
      width: 300px;
      height: 269px;
      float:left;
      margin-left: 50px;
      margin-top: 20px;
      position: relative;
    }
    .message_content .mes{
      color: white;
      font-size: 16px;
      text-indent: 25px;
      width: 230px;
      height: 160px;
      margin: 0 auto;
      padding-top: 30px;
      text-align: left;
    }
    .message_content .name{
      color: white;
      margin-left: 53px;
      margin-top: 12px;
    }
    .message_content .mybtn{
      width: 50px;
      height: 50px;
      background: url(/images/pullbtn.png) no-repeat;
      border:0;
      outline:0;
     
      margin-left: 230px;
      margin-top: -10px;
    }
    .mybtn:hover{
       opacity:0.8;
    }
    .zan{
      position: absolute;
      left: 40px;
      bottom: 20px;
    }
   
     .zhan_text{
       color:#767a93;
       font-size: 10px;
     }
      .zan_num{
      color: #e4214f;
    }
    .control{
      width: 1920px;
      margin: 0 auto;
      padding-top: 600px;
      text-align: center;
    }
    .control span{
      display: inline-block;
      background-color: #bab5e4;
      color: #333;
      font-size: 14px;
      height: 30px;
      line-height: 30px;
      margin: 0 4px;
      cursor: pointer;
      text-align: center;
      padding-left: 10px;
      padding-right: 10px;
    }
    .page6{
    
    }
    .gundong{
      margin: 0 auto;
      width: 1200px;
      height: 370px;
      position: relative;
      top:100px;
      overflow: hidden;
    }
    .barrage-row{
      padding-top: 30px;
      display: block;
      width: 1200px;
      white-space: nowrap;
    }
    .gundong_li{
      position: relative;
      display: inline-block; 
      /* background-color: #252c5b; */
      /* color:#c6cfe5; */
      margin-left: 50px;
      padding-left: 40px;
      padding-right: 40px;
     
      
    }
    .data-box{
      display: none;
    }
    .gundong_p{
      float: left;
      line-height: 40px;
      background-color: #252c5b;
      padding-left: 20px;
      padding-right: 20px;
      border-top-left-radius: 23px;
      border-bottom-left-radius: 23px;
      color: white;
    }
    .sanjiao{
      float: left;
      /* background-color: #252c5b; */
      border-top: 40px solid transparent;
      border-left: 40px solid #252c5b;
    }
    .choujiang{
      margin: 0 auto;
      width: 1200px;
      height: 370px;
      position: relative;
      top:210px;
    }
    .myblock {
      position: relative;
      left: 1px;;
      top:4px;
      width: 640px;
      height: 417px;
     
    }
    .block_item{
      position: relative;
      margin-top: 2px;
      margin-right:2px;
      margin-left: 3px;
      margin-bottom: 3px;
      float: left;
      width: 205px;
      height: 131px;
      background: #252c5b;
      
    }
    .block_item1{
      position: relative;
      margin-top: 2px;
      margin-right:2px;
      margin-left: 3px;
      margin-bottom: 3px;
      float: left;
      width: 205px;
      height: 131px;
      background: #252c5b;
      
    }
    .block_item_on{
      background:red;
    }
    .try{
      position: relative;
      top:3px;
      left: 3px;
    }
    

